* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height:100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color:#383a46;
    background-color: #fff7eb;
}

img, a, i {
    display:block;
    max-width: 100%;
    text-decoration: none;
    color:#383a46;
}

.logo img {
    width:130px;
    height:80px;
}

.nav {
    background-color: #383a46;
    border-bottom:1px solid rgb(212, 164, 23);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:90%;
    margin:0 auto;
}

.menu ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color:#000000;
    padding:24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#ffeeca;
    transition: .5s;
}

.menu ul li a:hover {
    color:#d3a518;
}

.btn {
    display:inline-block; 
    text-decoration: none;
    padding:10px 42px;
    background-color: bisque;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500; 
    color:#383a46; 
    align-items: center;
}

.nav-btn .btn{
    background-color:#ffeeca;
    border: 1px solid #ffeeca;
    transition: .2s;
}

.nav-btn .btn:hover {
    background-color:#383a46;
    border-color: #d3a518;
    
}
 
/* hero secton */
.hero {
    background-color: #383a46;
}
.container {
    width:90%;
    margin:0 auto;
}
.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.hero-description h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #ffeeca; 
    line-height: 1.2;
    text-transform: capitalize;
}
.hero-description span {
    font-size: 38px;
    color:#d3a518;
}
.hero-description p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:#a4916f;
    line-height: 1.5;
    margin-top:35px;
}
.hero-image {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.hero-btn .btn {
    display: inline-flex;
    margin:10px 24px 34px 34px;
    background-color: #d3a518;
    border: none;
    color: #383a46;
    transition: .2s;
}
.btn:hover {
    background-color:  #ffeeca;
    color:#d3a518;
}

.hero-footer {
    background-color: #ffeeca;
    padding:10px;
}
.footer-description {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap:8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-footer img {
    width: 280px;
    height: 250px;
}
.hero-footer-description {
    margin-right: 60px;
}
.hero-footer-description h1 {
    font-size: 26px;
    color:#383a46;
}
.hero-footer-description p {
    text-align: left;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#383a46;
}
.discount {
    background-color: #383a46;
    text-align: center;
    border-radius: 10px;
    padding:10px;
}
.discount .btn {
    transition:.3s;
}
.discount .btn:hover {
    background-color: rgb(211, 165, 24);
    color: #ffeeca;
}
.discount h1 {
    font-size: 36px;
    color:#d3a518;
}
.discount h2 {
    font-size: 28px;
    color:#a4916f;
}
.discount h2 span {
    font-size: 32px;
    color:#d3a518;
}
.discount .btn {
    margin:20px;
}

/* Furniture */
.title {
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   color:#383a46;
   text-align: center;
   margin-top:42px;
   margin-top: 42px;
}
.title P {
    font-size: 18px;
    padding:10px;
    font-weight: 500;
    color:rgba(56, 58, 69,.8);
    line-height: 1.8;
}
.title span {
    color:#5b513c;
    font-weight: bold;
}
.furniture-preveiw {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap:20px;
    margin-top:42px;
}
.small-preview {
    display:block;
    max-height: 100%;
    background-color: #d3a518;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.small-image img {
    width: 100%;
    height: auto;
}
.small-image{
    background-color: #a4916f;
    padding:5px;
    transition: 1.5s;
}
.desc {

    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color:#ffeeca;
}
.sofa-color p{
    font-size: 13px;
}
.sofa-color #wooden{
    padding-bottom:10px;
}
.price a{
  margin-top: 13px;
  font-size: 13px;
}
.price h3 {
    font-size:13px;
}
.price strike {
    color: rgb(204, 19, 19);
}

.shop-btn {
    background-color: none;
    color: #383a46;
    text-decoration: none;
    font-size: 18px;
    text-align: right;
}
.small-image:hover {
    transform: scale(.9);
    background-color:#a4916f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.big-preview {
    display: block;
}

.main-big-preview {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.sub-big-preview {

    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
.specific {
    background: linear-gradient(90deg, hsla(45, 80%, 46%, 1) 5%, hsla(35, 100%, 96%,1) 100%);
    border-radius: 10px 0px 0px 100px;
}
.specific h1 {
    font-size: 24px;
    padding:20px;
    text-align: center;
}
.specific p{
    font-size: 14px;
    padding-bottom:10px;
    text-align: center;
}
.specific .btn a {
    text-decoration: none;
}
 .specific .btn {
    cursor: pointer;
    margin:0% 10% 10% 30%;
    transition: .2s;
}
.specific .btn:hover {
    background-color:#d3c4a4;
}
.sofa-specification {
    display: block;
}
.frame {
    padding:8px;
}
.frame h3 {
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 56px;
}
.frame ul li {
    margin-left: 100px;
}
.wooden-sofa {
   display: block; 
}
.wood-desc { 
    display: block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(to bottom, #ffeeca, #fff0d2, #fff2da, #fff5e3, #fff7eb);

}
.wooden-specification {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.wooden-sofa h1 {
    padding-top:20px;
    font-size: 18px;
    text-align: center;
    
}
.wooden-sofa p {
    font-size: 14px;
}
.wooden-sofa ul li {
    list-style: none;
    font-size: 13px;
}
.wooden-sofa ul span{
    font-size: 14px;
    color:#a4916f;
}
.wooden-color {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wooden-color a {
    color:#d3a518;
    font-size: 17px;
    font-weight: bold;
}
.combinational-sofa {
    background-image: linear-gradient(to left, #383a46, #6d626d, #a18f93, #d2c1bc, #fff7eb);
    margin-top:30px;  
    padding:10px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.comb-sofa {
    color:#383a46;
    padding:20px 0 0 40px;
   
}

/*     ----------------      */
.about{
  background-color: #ffeeca;
  border-top: 2px solid#d3a518;
  border-bottom: 2px solid#d3a518;
  margin-top: 64px;
}
.about h1{
  text-align: center;
  padding:20px;
  margin-top:32px;
  font-size: 34px;
}
.about p {
    text-align: left;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#383a46;
}
.about-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
}
.about-description {
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin-top: 34px;
}

.about-description p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color:#383a46;
}
.about-description .service1 div {
    padding:0 24px 24px 0;
}
.about-description .service2 div {
    padding:0 24px 24px 0;
}
.about-images .btn {
    margin-top: 100px;
    background-color:#d3a518;
    transition: .3s;
}
.about-images .btn:hover {
    background-color:#383a46;
    color:#d3a518;
}

/* ------------- */
.contact {
margin-top: 10%;
}
.contact-image h1 {
    font-size: 34px;
    color: #ffeeca;
}
.contact-image p {
    font-size: 18px;
    color: #ffeeca;
    padding-top:18px;
}
.contact-us {
    background-color: #5b513c;
    display:flex;
    justify-content:space-between;
    width:800px;
    margin:5% 0 0 20%;
    border-radius: 25px;
    padding:10px;
}
.form div {
    padding:5px;
}
.cont {
    padding:23px;
    text-align: center;
}
.cont .social {
    background-image: linear-gradient(to top, #5b513c, #81755d, #a99c7f, #d3c4a4, #ffeeca);    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:20px;
    padding-bottom: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   
}
.cont .btn {
    border: none;
    width: 70%;
    cursor: pointer;
    background: linear-gradient(to left, #5b513c, #81755d, #a99c7f, #d3c4a4, #ffeeca);
    transition: .5s;
}
.cont .btn:hover {
   background: linear-gradient(to right, #5b513c, #81755d, #a99c7f, #d3c4a4, #ffeeca);color: #ffeeca;
}

.cont .btn i {
   margin-left: 10px;
}
.social i {
   font-size: 32px;
}
.social a {
    align-items: center;
    padding-top: 20px;
 }
.form input {
    padding:14px;
    width:350px;
    border-radius: 10px;
    border:none;
    color:#383a46;
    font-size: 17px;
    background-image: linear-gradient(to right, #d3a518, #e0b74e, #ebc978, #f6dba1, #ffeeca);
}
.form text {
   width: 100%;
}
.form textarea {
   width: 100%;
   height: 100px;
   resize: none;
   border: none;
   font-size: 17px;
   border-radius: 10px;
   background-image: linear-gradient(to right, #d3a518, #e0b74e, #ebc978, #f6dba1, #ffeeca);
}

/* --------- */
.footer-cont {
    margin-top: 10%;
    border-top: 2px solid #d3a518;
    background-color:#d3c4a4;
}
.footer {
    display: grid;
    grid-template-rows: 1fr .5fr .5fr;
    justify-content: center;
    text-align: center;
}
.footer-menu ul{ 
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.footer-menu ul li {
    font-size: 18px;
    padding:10px;
}
.footer-social {
    display:flex;
    justify-content: space-around;
    margin-top:0px;
}
.footer-social a{
   font-size: 28px;
   text-align:center;
}
.logo-footer img{
    margin: 5% 0% 5% 30% ;
    width:130px;
    height:80px;
}
.footer .copy {
   margin-bottom: 5%;
}
